*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size:20px;
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* background: #FFFFFF;     */
    /* background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% ); */
    /* background-image: linear-gradient( 64.5deg,  rgba(245,116,185,1) 14.7%, rgba(89,97,223,1) 88.7% ); */
    /* background-image: radial-gradient(circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% ); */
}
.form-group{
    top: 50%;
    box-sizing: border-box;
    height: 617px;
    width: 456px;   
    display: flex;
    flex-direction: column;
    padding: 48px 10px;
    position: relative;
    align-items: center;
    border: 0.5px solid #E6E8EC;
    box-shadow: 0px 20px 60px -6px rgba(40, 40, 40, 0.08);
    border-radius: 20px;
    background: #FFFFFF;
    gap: 24px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0 auto;
    top: 50%;
    transform: translateY(5%);
}
.get-started{
    box-sizing: border-box;
    font-size: 30px;
}
.heading {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px;
    gap: 16px;
    width: 268px;
    height: 93px;
}
.get-started{
    margin: 0 auto;
}
.heading-sign-up{
    display: flex;
    width: 268px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #777E91;
}
.heading-sign-up a{
    color: #4158D0;
    text-decoration: none;
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 376px;
    height: 44px;
    gap: 24px;
    padding: 10px;
    flex:none;
    order: 0;
    flex-grow: 0;
}
.component{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-height: 30px;
}
#rectangle-1{
    width: 95px;
    height: 1px;
    background: #E6E8EC;
    flex: none;
    flex-grow: 0;
}
.login-email{
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 376px;
    height: 220px;
}
.social-login{
    box-sizing: border-box;
    width: 110px;
    height: 34px;
    border:0.1px solid #ccc;
    border-radius: 8px;
    background-color: #FFFFFF;
    cursor: pointer;
}
.social img{
    margin: 0 auto;
}
.input{
    position: relative;
}
.form-input{
    border: 1px solid #eee;
    width: 376px;
    height: 48px;
    border-radius: 8px;
    transition: .75s ease;
    padding: 0 20px;
}
.form-input:focus{
    outline: none;
    border: 2.2px solid #3b4edd;
    transition: .2s ease;
}
.form-label{
    position: absolute;
    top: 50%;
    color: rgb(63, 63, 63);
    transform: translateY(-50%);
    font-size: 15px;
    left: 21px;
    pointer-events: none;
    user-select: none;
    transition: 0.5s ease;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label{
    color: #3b4edd;
    top: 0px;
    padding: 4px;
    background-color: #FFFFFF;
}

.forgot{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    width: 376px;
    height: 20px;
}
#remember-me{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #777E91;
}

.forgot a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #4158D0;
    text-decoration: none;
}
.submit button{
    width: 376px;
    height: 48px;
    background-color: white;
    position: relative;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    border: 1px solid #3b4edd;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s ease;
    cursor: pointer;
}
.submit button:hover{
    background-image: linear-gradient( 83.2deg,  rgba(150,93));
}
/* 
.submit button:before{
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 0%;
    height: 100%;
    background-image: linear-gradient( 83.2deg,  rgba(150,93,233,1) 10.8%, rgba(99,88,238,1) 94.3% );
    border: 1px solid #3b4edd;
    border-radius: 10px;
    width: 376px;
    height: 48px;
    z-index: -1;
} */
.submit button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.submit button:active {
    color: #000
}

.submit button:active:after {
    background: transparent;
}

.submit button:hover:before {
    opacity: 1;
}

.submit button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
